@charset "UTF-8";
body {
  font-family: "proxima nova", arial, sans-serif;
  color: #333333;
}

.outer.grey {
  background-color: #f8f8f8;
}

h2 {
  font-weight: bold;
}

.c-col {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 0;
  padding-left: 32px;
  padding-right: 32px;
}
.btn-outline {
  border: 1px solid #202020;
}
.btn-outline:hover {
  background-color: #ef4642;
  color: white;
  border-color: #ef4642;
}
.btn-reverse {
  border: 1px solid white;
}
.btn-reverse:hover {
  color: white;
}
.btn-danger {
  background-color: #ef4642;
}
.btn-big {
  border-width: 2px;
  padding: 16px 44px !important;
}

.loose {
  max-width: 1400px;
  margin: 0 auto;
}

.tight {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

hr {
  margin: 0;
  background-color: #989898;
}

.hr {
  padding: 90px 0;
}

.logo svg {
  width: 200px;
}

.header {
  padding-top: 32px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav ul {
  display: flex;
  align-items: center;
}
.nav li {
  float: left;
  list-style: none;
}
.nav li:not(:first-child) {
  margin-left: 32px;
}
.nav li:last-child {
  margin-left: 16px;
}
.nav a {
  display: block;
  color: #333333;
  text-decoration: none;
}
.nav a.btn-danger {
  color: white;
}

.truck__title {
  margin-bottom: 64px;
}

.masthead {
  background-image: url("https://semperhomeloans.com/public/images/masthead-bg.png");
  background-position: center 80px;
  background-size: 780px;
  background-repeat: no-repeat;
  padding-top: 128px;
}
.masthead__title {
  text-align: center;
  margin-bottom: 22px;
}
.masthead__title h2 {
  font-size: 2.3em;
  font-weight: bold;
}
.masthead__search input {
  width: 100%;
  background-image: url("https://semperhomeloans.com/public/images/magnifying-glass.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  text-indent: 35px;
  padding: 12px;
  border: 1px solid #dddddd;
  transition: 0.123s ease-in;
}
.masthead__search input:focus {
  outline: 0;
  border: 1px solid #202020;
}
.masthead__note {
  text-align: center;
  margin: 70px 0 40px;
}

.boxes {
  display: grid;
  grid-gap: 16px;
}
@media (min-width: 768px) {
  .boxes--dual {
    grid-template-columns: 1fr 1fr;
  }
}
.boxes--dual svg {
  height: 50px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .boxes--quad {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.boxes--quad .box {
  min-height: 300px;
}
.boxes--solo .box {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxes--solo .box:hover {
  background-color: white !important;
  color: #333333 !important;
  transition: 0.123s ease-in;
}
.boxes--solo .box__link {
  bottom: 0 !important;
  position: relative !important;
}
.boxes .box {
  background-color: white;
  padding: 32px;
  color: #333333;
  text-decoration: none;
  position: relative;
  border-radius: 5px;
}
.boxes .box__title * {
  font-weight: bold;
  font-size: 1.5em;
}
.boxes .box__icon {
  width: 30px;
  margin-bottom: 24px;
  min-height: 35px;
}
.boxes .box__icon svg {
  fill: white;
}
.boxes .box__text {
  font-size: 0.9em;
  margin-top: 16px;
}
.boxes .box__link {
  bottom: 32px;
  font-size: 0.9em;
  position: absolute;
}
.boxes .box:hover {
  background-color: #202020;
  color: white;
  transition: 0.123s ease-in;
}
.boxes .box:hover svg .dark--fill {
  fill: #ef4642;
}
.boxes .box:hover svg .dark--stroke {
  stroke: #ef4642;
}
.boxes .box p {
  margin-bottom: 0;
}

.footer__top {
  padding: 150px 0;
}
.footer__bottom {
  background-color: #202020;
  padding: 64px 0 0;
  color: white;
}
.footer__cols {
  display: flex;
  padding: 48px 0 28px;
}
@media (max-width: 768px) {
  .footer__cols {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer__cols--app-btns {
    padding-top: 0;
  }
}
.footer__cols:not(:last-child) {
  border-bottom: 1px solid #828282;
}
.footer__cols--center {
  align-items: center;
}
.footer__left {
  flex: 3;
  position: relative;
}
@media (max-width: 768px) {
  .footer__left {
    margin-bottom: 32px;
  }
}
.footer__left .social-media {
  position: absolute;
  bottom: 0;
}
.footer__left .social-media ul {
  margin: 0;
  padding: 0;
}
.footer__left .social-media li {
  float: left;
  list-style: none;
}
.footer__left .social-media a {
  color: white;
  padding: 8px;
}
.footer__left .social-media i, .footer__left .social-media svg {
  width: 16px;
}
.footer__right {
  flex: 4;
}
.footer__right ul {
  padding: 0;
  list-style: none;
}
.footer__right h5 {
  margin-bottom: 24px;
}
.footer__right a {
  color: white;
  text-decoration: none;
  padding: 2px 0;
  display: block;
}
.footer__socials {
  margin-top: 64px;
}
.footer__socials a {
  display: flex;
  align-items: center;
  color: #333333;
  text-decoration: none;
}
.footer__socials i {
  width: 25px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .btn-image img {
    height: 58px;
  }
}
.btn-image img {
  width: 100%;
}

.big-padding-bottom {
  padding-bottom: 90px;
}

@media (max-width: 768px) {
  .pr-links {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .btn-image {
    max-width: 150px;
  }
}

.tabs__index .list-group {
  background-color: #333333;
  border-radius: 0;
}
.tabs__index .list-group-item {
  display: flex;
  align-items: center;
  color: #9e9e9e;
  border: none !important;
  background-color: #333333;
}
.tabs__index .list-group-item h3 {
  font-size: 0.8em;
  margin-bottom: 0;
}
.tabs__index .list-group-item__icon {
  width: 30px;
  display: flex;
  justify-content: flex-start;
  min-height: 35px;
}
.tabs__index .list-group-item__icon svg {
  width: 15px;
  fill: #9e9e9e;
  stroke: #9e9e9e;
}
.tabs__index .list-group-item__icon svg .dark--fill {
  fill: #9e9e9e;
}
.tabs__index .list-group-item__icon svg .dark--stroke {
  stroke: #9e9e9e;
}
.tabs__index .list-group-item.active, .tabs__index .list-group-item:hover {
  background-color: #202020;
  color: white;
}
.tabs__index .list-group-item.active .list-group-item__icon svg, .tabs__index .list-group-item:hover .list-group-item__icon svg {
  fill: #ef4642;
  stroke: #ef4642;
}
.tabs__index .list-group-item.active .list-group-item__icon svg .dark--fill, .tabs__index .list-group-item:hover .list-group-item__icon svg .dark--fill {
  fill: #ef4642;
}
.tabs__index .list-group-item.active .list-group-item__icon svg .dark--stroke, .tabs__index .list-group-item:hover .list-group-item__icon svg .dark--stroke {
  stroke: #ef4642;
}

.clicker {
  text-decoration: none;
  min-width: 50px;
  display: flex;
  justify-content: flex-start;
}
.clicker:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  display: flex;
  color: #333333;
}

.paper__category {
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 0.7em;
  position: relative;
  top: -8px;
}
.paper__title {
  margin-bottom: 1.1em;
}
.paper__sheet {
  background-color: white;
  padding: 2em;
  box-shadow: 1px 2px 21px rgba(0, 0, 0, 0.05), 4px 3.4px 5px rgba(0, 0, 0, 0.12);
}
.paper__sheet__item {
  display: flex;
  border-bottom: 1px solid #dddddd;
  padding: 1.5em 0 0.3em;
  align-items: baseline;
}
.paper__sheet__item.active {
  border-bottom: none;
}
.paper__sheet__item.active .clicker:before {
  content: "";
  color: #ef4642;
}
.paper__sheet__item.active .content__title {
  font-weight: bold;
}
.paper__sheet__item.active .content__info {
  display: block;
}
.paper__sheet__item.active .content__link {
  display: flex;
}
.paper__sheet__item .content__info {
  display: none;
  margin-top: 1.9em;
  line-height: 1.7em;
}
.paper__sheet__item .content__title {
  font-size: 1.3em;
}
.paper__sheet__item .content__link {
  display: none;
  margin-top: 1.9em;
  margin-bottom: 1em;
  align-items: center;
}
.paper__sheet__item .content__link__href {
  color: #9e9e9e;
}
.paper__sheet__item .content__link:after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 0.6em;
  margin-left: 6px;
}

/*# sourceMappingURL=style.css.map */
