$c-grey: #f8f8f8;
$c-light: #dddddd;
$c-text: #333333;
$c-dark: #202020;
$c-red: #ef4642;
$transition: .123s ease-in;
$tight: 600px;

body {
  font-family: "proxima nova", arial, sans-serif;
  color: $c-text;
}

.outer {
  &.grey {
    background-color: $c-grey;
  }
}

h2 {
  font-weight: bold;
}

.c-col {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 0;
  padding-left: 32px;
  padding-right: 32px;

  &-outline {
    border: 1px solid $c-dark;
  }
  &-reverse {
    border: 1px solid white;

    &:hover {
      color: white;
    }
  }
  &-danger {
    background-color: $c-red;
  }
  &-big {
    border-width: 2px;
    padding: 16px 44px !important;
  }
}

.loose {
  max-width: 1400px;
  margin: 0 auto;
}

.tight {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

hr {
  margin: 0;
  background-color: #989898;
}

.hr {
  padding: 90px 0;
}

.logo {
  svg {
    width: 200px;
  }
}

.header {
  padding-top: 32px;
}

.nav {
  @media (max-width: 768px) {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
  }
  li {
    float: left;
    list-style: none;
    &:not(:first-child) {
      margin-left: 32px;
    }
    &:last-child {
      margin-left: 16px;
    }
  }

  a {
    display: block;
    color: $c-text;
    text-decoration: none;

    &.btn-danger {
      color: white;
    }
  }
}

.truck {
  &__title {
    margin-bottom: 64px;
  }
}

.masthead {

  background-image: url('./images/masthead-bg.png');
  background-position: center 150px;
  background-size: $tight + 160;
  background-repeat: no-repeat;

  padding-top: 128px;

  &__title {
    text-align: center;
    margin-bottom: 16px;
    h2 {
      font-size: 2.3em;
      font-weight: bold;
    }
  }

  &__search {
    input {
      width: 100%;
      background-image: url('./images/magnifying-glass.png');
      background-position: 6px 8px;
      background-repeat: no-repeat;
      text-indent: 35px;
      padding: 8px;
      border: 1px solid $c-light;
      transition: $transition;

      &:focus {
        outline: 0;
        border: 1px solid $c-dark;
      }

    }
  }

  &__note {
    text-align: center;
    margin: 70px 0 40px;
  }
}


.boxes {
  display: grid;
  grid-gap: 16px;
  &--dual {
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

  }

  &--quad {
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .box {
      min-height: 300px;
    }
  }

  &--solo {
    .box {
      min-height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: white !important;
        color: $c-text !important;
        transition: $transition;
      }
      &__link {
        bottom: 0 !important;
        position: relative !important;
      }
    }
  }


  .box {
    background-color: white;
    padding: 32px;
    color: $c-text;
    text-decoration: none;
    position: relative;
    border-radius: 5px;

    &__title * {
      font-weight: bold;
      font-size: 1.5em;
    }

    &__icon {
      width: 30px;
      margin-bottom: 24px;
      min-height: 35px;
      svg {
        fill: white;
      }
    }

    &__text {
      font-size: .9em;
      margin-top: 16px;
    }

    &__link {
      bottom: 32px;
      position: absolute;
    }

    &:hover {
      background-color: $c-dark;
      color: white;
      transition: $transition;

      svg {
        // fill: white;

        .dark--fill {
          fill: $c-red;
        }
        .dark--stroke {
          stroke: $c-red;
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}


.footer {
  &__top {
    padding: 150px 0;
  }

  &__bottom {
    background-color: $c-dark;
    padding: 64px 0;
    color: white;
  }

  &__cols {
    display: flex;
    padding: 48px 0 28px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #828282;
    }

    &--center {
          align-items: center;
    }

  }

  &__left {
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
    flex: 3;
    position: relative;

    .social-media {
      position: absolute;
      bottom: 0;
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        float: left;
        list-style: none;
      }
      a {
        color: white;
        padding: 8px;
      }
      i, svg {
        width: 16px;
      }
    }
  }

  &__right {
    flex: 4;
    ul {
      padding: 0;
      list-style: none;
    }
    h5 {
      margin-bottom: 24px;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 2px 0;
      display: block;
    }
  }

  &__socials {
    margin-top: 64px;
    a {
      display: flex;
      align-items: center;
      color: $c-text;
      text-decoration: none;
    }
    i {
      width: 25px;
      margin-right: 8px;
    }
  }
}

.btn-image {
  @media (min-width: 768px) {
    img {
      height: 58px;
    }
  }

    img {
      width: 100%;
    }

}


.big-padding-bottom {
  padding-bottom: 90px;
}
